<header class="question {% if include.in_text %} in-text {% endif %}">
    {% if include.image_url %}
      <div class="background" style="background-image: url('{{ include.image_url | prepend: full_base_url }}')"></div>
    {% else %}
      <div class="background"></div>
    {% endif %}


    <div class="container">
      {% if include.title %}
        <h1>
          {{ include.text }}
        </h1>

        {% unless include.content == blank %}
        <p class="col-sm-6" id="subtitle">
          {{ include.content | strip_html }}
        </p>
        {% endunless %}
      {% else %}
        <div class="row">
          {% if include.right_title %}
            {% unless include.content == blank %}
              <p class="col-sm">
                {{ include.content | strip_html }}
              </p>
            {% endunless %}

            <h1 class="col-sm">
              {{ include.text }}
            </h1>
          {% else %}
            <h1 class="col-sm">
              {{ include.text }}
            </h1>
    
            {% unless include.content == blank %}
              <p class="col-sm">
                {{ include.content | strip_html }}
              </p>
            {% endunless %}
          {% endif %}
        </div>
      {% endif %}
    </div>
</header>